/venv
.env
/__pycache__
/utils/__pycache__
faturas.py
/faturas_simuladas
*.pyc
resumo.md
.vercel
downloads/
dados_processados/
codewars.py
parse_xml_to_json.py
teste.js
teste.py
parse_xml_to_json.py
/tutoriais
/tests
